* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #2d2d42;
  background-color: #f4f4f7;
  overflow-x: hidden;
}

.b-container {
  max-width: 1180px;
  margin: 0 auto;
}

.b-background {
    padding: 40px 60px -10px 40px;
    background: url('./images/header-background.jpg'), rgba(0,0,0,0.4);
    background-blend-mode: color;
}

.b-header {
  display: grid;
  padding: 40px 60px 40px 40px;
  grid-template-columns: 160px 1fr 120px;
  align-items: center;
  padding-right: 60px;
  font-size: 1.07rem;
  line-height: 133%;
  color: #f4f4f7;
}

.b-menu__list {
  list-style: none;
  display: inline-flex;
}

.b-menu__item:not(:last-of-type) {
  margin-right: 50px;
}

.b-menu__link {
  text-decoration: none;
}

.b-menu__link:link,
.b-menu__link:visited,
.b-menu__link:hover,
.b-menu__link:active {
  color: inherit;
}

.b-language {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.b-language__input {
  display: none;
}

.b-language__label {
  cursor: pointer;
}

.b-language__input:checked + .b-language__label {
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 50%;
}

.b-description {
  text-align: left;
  color: #f4f4f7;
  margin-bottom: 100px;
}

.b-title {
    font-size: 3.75rem;
    line-height: 108%;
    font-weight: 900;
    letter-spacing: -0.75px;
    max-width: 780px;
}

.b-title_description {
  margin: 52px auto 30px 200px;
}

.b-description__paragraph {
  font-size: 1.25rem;
  line-height: 150%;
  max-width: 670px;
  margin: auto auto 78px 200px;
}

.b-button {
  display: inline-block;
  font-size: 1.25rem;
  line-height: 150%;
  max-width: 580px;
box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-left: none;
  border-bottom: none;
  color: #f4f4f7;
  padding: 25px 260px 25px 200px;
  color:#f4f4f7;
  text-decoration: none;
  background: url(./images/arrow.svg) no-repeat 510px 50%;
}

.b-advantage {
    background-color: #fff;
    padding: 90px 0 137px 0;

}

.b-expertise {
    margin: 0 0 0 200px;
}

.b-title_expertise {
    margin: 90px 0 30px;
}

.b-expertise__paragraph {
    font-size: 1.875rem;
    line-height: 250%;
    margin-bottom: 85px;
}

.b-flex {
    display: flex;
    justify-content: flex-start;
    column-gap: 60px;
    align-items: flex-start;
}

.b-flex_service {
    justify-content: flex-start;
    column-gap: 60px;
    align-items: flex-start;
}

.b-expertise__item {
    max-width: 240px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.b-icon {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    line-height: 130px;
    align-self: left;
}

.b-icon_blue {
    background-color: #63c9e0;
}

.b-icon_orange {
    background-color: #f47e3d;
}

.b-icon_purple {
    background-color: #d04b9b;
}

.b-expertise__text {
    font-size: 1.25rem;
    line-height: 150%;
    font-weight: 700;
}

.b-title_service {
    color: #c0c6c8;
    margin: 70px auto 75px 200px;
}

.b-flex {
    display: flex;
}

.b-flex_service {
    flex-direction: column;
    margin: 0 auto 0 200px;
    flex-wrap: wrap;
    max-height: 250px;
    row-gap: 20px;
}

.b-service__item {
    font-size: 1.25rem;
    line-height: 150%;
    position: relative;
    width: 50%;
    max-width: 380px;
    padding: 0 60px 0 0;
}

.b-service__item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -60px;
    width: 30px;
    height: 1px;
    background-color: #64cae1;
}

.b-title_work {
  margin: 100px auto 25px 330px;
}

.b-work__paragraph {
  font-size: 1.875rem;
  line-height: 250%;
  margin: auto auto 90px 330px;
}



.b-gallery__image-big {

}

.b-box {
margin-top: 40px;
}

.b-box_blue {
  background-color: #64cae1;
  color: #f4f4f7;
  padding: 40px;
  max-width: 380px;
  box-sizing: border-box;
  position: relative;
  top: -440px;
  left: 200px;
}

.b-box_white {
  background-color: #f4f4f7;
  padding: 40px;
  padding-bottom:110px;
  max-width: 380px;
  height: 380px;
  box-sizing: border-box;
  position: relative;
  top: -440px;
  left: 600px;
}

.b-gallery__title {
  font-size: 0.8125rem;
  line-height: 125%;
  text-transform: uppercase;
  letter-spacing: 1.73px;
  font-weight: 900;
  margin-bottom: 39px;
}

.b-gallery__text {
  font-size: 1.875rem;
  line-height: 133%;
  max-width: 430px;
}

.b-card_big {
  max-height: 620px;
}

.b-card_small {
  max-width: 580px;
}

.b-flex_work {
  flex-wrap: wrap;
  max-width: 1180px;
  column-gap: 20px;
  row-gap: 70px;
  margin-bottom: 100px;
}
