* {
  margin: 0;
  padding: 0;
}

:root {
  --dark: #2d2d42;
  --light: #f4f4f7;
  --blue: #64cae1;
  --grey: #c0c6c8;
}

@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Light.woff),
  url(./fonts/Roboto-Light.woff2);
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Bold.woff),
  url(./fonts/Roboto-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Black.woff),
  url(./fonts/Roboto-Black.woff2);
  font-weight: 900;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: var(--dark);
  background-color: var(--light);
  overflow-x: hidden;
}

.b-container {
  max-width: 1180px;
  margin: 0 auto;
}

.b-header {
  display: grid;
  padding: 40px 60px 40px 40px;
  grid-template-columns: 160px 1fr 120px;
  align-items: center;
  padding-right: 60px;
  font-size: 15px;
  color: var(--light);
  position: relative;
  z-index: 2;
}

.b-menu__list {
  list-style: none;
  display: inline-flex;
}

.b-menu__item:not(:last-of-type) {
  margin-right: 50px;
}

.b-menu__link {
  text-decoration: none;
}

.b-menu__link:link,
.b-menu__link:visited,
.b-menu__link:hover,
.b-menu__link:active {
  color: inherit;
}

.b-language {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.b-language__input {
  display: none;
}

.b-language__label {
  cursor: pointer;
  padding: 10px;
  box-sizing: border-box;
}

.b-language__input:checked + .b-language__label {
  border: 1px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
}


.b-description {
  text-align: left;
  color: var(--light);
  position: relative;
  margin: auto auto 100px;
}

.b-description__background {
  position: absolute;
  width: 100%;
  height: 100vh;
  top:-180px;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

.b-description img {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  z-index: -1;
}

.b-title {
  font-size: 60px;
  line-height: 108%;
  font-weight: 900;
  letter-spacing: -0.75px;
}

.b-title_description {
  margin: 52px 200px 30px;
  position: relative;
  z-index: 2;
}

.b-paragraph_small {
  font-size: 20px;
  line-height: 150%;
}

.b-paragraph_big {
  font-size: 30px;
  line-height: 133%;
}

.b-paragraph_description {
  margin: auto 310px 178px 200px;
  position: relative;
  z-index: 2;
}

.b-button {
  display: inline-block;
  font-size: 20px;
  line-height: 150%;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-left: none;
  border-bottom: none;
  padding: 25px 260px 25px 200px;
  color: var(--light);
  text-decoration: none;
  background: url(./images/button/arrow.svg) no-repeat 510px 50%;
  position: relative;
  z-index: 2;
}

.b-advantage {
  background-color: #fff;
  padding: 90px 100px 137px 200px;
}


.b-title_expertise {
  margin: 90px 0 30px;
}

.b-paragraph_expertise {
  margin-bottom: 85px;
}

.b-flex {
  display: flex;
  justify-content: flex-start;
  column-gap: 60px;
  align-items: flex-start;
}

.b-flex_service {
  justify-content: flex-start;
  column-gap: 60px;
  align-items: flex-start;
}

.b-expertise__item {
  max-width: 29%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.b-icon {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  position: relative;
}

.b-icon_blue {
  background-color: #63c9e0;
}

.b-icon_orange {
  background-color: #f47e3d;
}

.b-icon_purple {
  background-color: #d04b9b;
}

.b-expertise__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.b-expertise__image_orange {
  transform: translate(-35%, -50%);
}

.b-expertise__text {
  font-size: 20px;
  line-height: 150%;
  font-weight: 700;
}

.b-title_service {
  color: var(--grey);
  margin: 70px auto 75px auto;
}

.b-flex {
  display: flex;
}

.b-flex_service {
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 250px;
  row-gap: 20px;
}

.b-service__item {
  font-size: 20px;
  line-height: 150%;
  position: relative;
  width: 50%;
  max-width: 380px;
  padding: 0 60px 0 0;
}

.b-service__item::before {
  content: "";
  position: absolute;
  top: 15px;
  left: -60px;
  width: 30px;
  height: 1px;
  background-color: var(--blue);
}

.b-title_work {
  margin: 100px auto 25px 330px;
}

.b-paragraph_work {
  margin: auto auto 90px 330px;
}

.b-box {
  margin-top: 40px;
}

.b-box_blue {
  background-color: var(--blue);
  color: var(--light);
  padding: 40px;
  margin: auto 800px auto auto;
  position: relative;
  top: -400px;
  left: 200px;
}

.b-box_white {
  background-color: var(--light);
  padding: 40px;
  padding-bottom: 110px;
  position: relative;
  margin-left: 800px;
  right: 200px;
  top: -440px;
}

.b-subtitle {
  font-size: 13px;
  line-height: 154%;
  letter-spacing: 1.73px;
  font-weight: 900;
  text-transform: uppercase;
}

.b-subtitle_gallery {
  margin-bottom: 39px;
}

.b-gallery__text {
  font-size: 30px;
  line-height: 133%;
}

.b-card_big {
  max-height: 620px;
}

.b-card_small {
  max-width: 49%;
}

.b-flex_work {
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 70px;
  margin-bottom: 100px;
}

.b-inside {
  position: relative;
  margin-bottom: 80px;
}

.b-title_inside {
  margin: 100px auto 25px 330px;
}

.b-paragraph_inside {
  margin: auto auto 90px 330px;
}

.b-inside__image {
  margin-left: 200px;
}

.b-slider {
  position: absolute;
  top: 410px;
  background-color: var(--light);
  padding: 40px 40px 80px 0;
  overflow: hidden;
  margin-right: 780px;
}

.b-subtitle_inside {
  margin-bottom: 30px;
}

.b-paragraph_slider {
  margin: auto 60px 55px 0;
}

.b-slider__icon {
  margin-bottom: 49px;
}

.b-slider__item {
  width: 65px;
  height: 1px;
  background-color: var(--grey);
  margin-right: 7px;
  cursor: pointer;
  padding: 1px;
}

.b-slider__item:hover,
.b-slider__item_active {
  background-color: var(--dark);
}

.b-navigation {
  display: flex;
  position: absolute;
  bottom: 1%;
}

.b-flex_news {
  column-gap: 50px;
  margin-right: 170px;
}

.b-news {
  margin-top: 80px;
}

.b-subtitle_news {
  margin-bottom: 50px;
}

.b-item_news {
}

.b-news__text {
  font-size: 20px;
  line-height: 150%;
  color: inherit;
  text-decoration: none;
}

.b-news__date {
  font-size: 15px;
  line-height: 125%;
  color: #93a4a9;
  padding-top: 20px;
}

.b-contact {
  background-color: #000;
  background-blend-mode: screen;
  color: var(--light);
  padding-top: 100px;
  padding-bottom: 70px;
  padding-left: 200px;
}

.b-flex_contact {
  margin: auto auto 75px auto;
  column-gap: 250px;
  align-items: center;
}

.b-social {
  column-gap: 25px;
}

.b-paragraph_contact {
  margin: auto 595px auto auto ;
}

.b-flex_adress {
  margin: 90px auto auto auto;
}

.b-title_contact {
  margin-bottom: 20px;
}

.b-contact__adress,
.b-contact__email,
.b-contact__phone {
  font-size: 15px;
  line-height: 167%;
}

.b-contact__email {
  display: block;
  color: var(--blue);
}

.b-contact__phone {
  color: inherit;
  text-decoration: none;
}

.b-flex_adress {
  column-gap: 180px;
}

.b-footer {
  display: flex;
  align-items: center;
  column-gap: 118px;
  background-color: #000;
}

.b-button_blue {
  background-color: var(--blue);
}
