* {
  margin: 0;
  padding: 0;
}

:root {
  --dark: #2d2d42;
  --light: #f4f4f7;
  --blue: #64cae1;
  --grey: #c0c6c8;
}

@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Light.woff), url(./fonts/Roboto-Light.woff2);
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Bold.woff), url(./fonts/Roboto-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Black.woff), url(./fonts/Roboto-Black.woff2);
  font-weight: 900;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: var(--dark);
  background-color: var(--light);
  overflow-x: hidden;
}

.b-container {
  max-width: 1180px;
  margin: 0 auto;
}

.b-header {
  display: grid;
  padding: 40px 60px 40px 40px;
  grid-template-columns: 160px 1fr 160px;
  align-items: center;
  font-size: 15px;
  color: var(--light);
  position: relative;
  z-index: 2;
}

.b-header__logo {
  width: 40px;
  height: 40px;
}

.b-menu__list {
  list-style: none;
  display: inline-flex;
}

.b-menu__item:not(:last-of-type) {
  margin-right: 51px;
}

.b-menu__link {
  text-decoration: none;
}

.b-menu__link:hover {
  opacity: 0.7;
}

.b-menu__link:link,
.b-menu__link:visited,
.b-menu__link:active {
  color: inherit;
}

.b-language {
  list-style: none;
  display: flex;
  margin-left: 25px;
  column-gap: 15px;
}

.b-language__input {
  display: none;
}

.b-language__label {
  cursor: pointer;
  box-sizing: border-box;
  padding: 10px;
}

.b-language__label:hover {
  opacity: 0.7;
}

.b-language__input:checked + .b-language__label:hover {
  opacity: 1;
}

.b-language__input:checked + .b-language__label {
  border: 1px solid #fff;
  border-radius: 50%;
}

.b-description {
  text-align: left;
  color: var(--light);
  position: relative;
  margin: auto auto 100px;
}

.b-description__background {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: -180px;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

.b-description img {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  z-index: -1;
}

.b-title {
  font-size: 60px;
  line-height: 108%;
  font-weight: 900;
  letter-spacing: -0.75px;
}

.b-title--description {
  margin: 52px 200px 31px;
  position: relative;
  z-index: 2;
}

.b-content p {
  font-size: 20px;
  line-height: 150%;
  margin: auto 310px 78px 200px;
  position: relative;
  z-index: 2;
}

.b-paragraph--small {
  font-size: 20px;
  line-height: 150%;
}

.b-paragraph--big {
  font-size: 30px;
  line-height: 133%;
}

.b-button {
  width: 50%;
  height: 80px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-left: none;
  border-bottom: none;
  color: var(--light);
  text-decoration: none;
  background: url(./images/button/arrow.svg) no-repeat 500px 50%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}

.b-button__text {
  font-size: 20px;
  line-height: 150%;
  padding-left: 200px;
}

.b-button:hover {
  opacity: 0.7;
}

.b-advantage {
  background-color: #fff;
  padding: 90px 100px 118px 200px;
}

.b-title--expertise {
  margin: 0 200px 30px 0;
}

.b-paragraph--expertise {
  margin-bottom: 85px;
}

.b-expertise__list {
  display: grid;
  grid-template-columns: repeat(3, 240px);
  column-gap: 60px;
  row-gap: 50px;
}

.b-content > ul {
  column-count: 2;
  column-gap: 120px;
  list-style: none;
}

.b-content ul li {
  font-size: 20px;
  line-height: 150%;
  position: relative;
  margin-bottom: 25px;
}

.b-content ul li::before {
  content: "";
  position: absolute;
  top: 15px;
  left: -60px;
  width: 30px;
  height: 1px;
  background-color: var(--blue);
}

.b-expertise__item {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.b-icon {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  position: relative;
}

.b-icon--blue {
  background-color: #63c9e0;
}

.b-icon--orange {
  background-color: #f47e3d;
}

.b-icon--purple {
  background-color: #d04b9b;
}

.b-expertise__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.b-expertise__image--orange {
  transform: translate(-35%, -50%);
}

.b-expertise__text {
  font-size: 20px;
  line-height: 150%;
  font-weight: 700;
}

.b-title--service {
  color: var(--grey);
  margin: 70px auto 75px auto;
}

.b-flex {
  display: flex;
}

.b-title--work {
  margin: 100px auto 25px 200px;
}

.b-paragraph--work {
  margin: auto auto 90px 200px;
}

.b-gallery {
  display: flex;
  flex-direction: column;
}

.b-box {
  margin-top: 35px;
}

.b-box--blue {
  background-color: var(--blue);
  color: var(--light);
  padding: 40px;
  margin: auto 800px auto auto;
  position: relative;
  top: -405px;
  left: 200px;
}

.b-box--white {
  background-color: var(--light);
  padding: 40px;
  padding-bottom: 110px;
  position: relative;
  margin-left: 800px;
  right: 200px;
  top: -430px;
}

.b-subtitle {
  font-size: 13px;
  line-height: 154%;
  letter-spacing: 1.73px;
  font-weight: 900;
  text-transform: uppercase;
}

.b-subtitle--gallery {
  margin-bottom: 39px;
}

.b-gallery__text {
  font-size: 30px;
  line-height: 133%;
  margin: -10px 150px auto auto;
}

.b-gallery__text--blue,
.b-gallery__text--white {
  margin: 0;
}

.b-card {
  color: inherit;
  text-decoration: none;
}

.b-card:hover {
  opacity: 0.7;
}

.b-card--big {
  max-height: 620px;
}

.b-card--small {
  max-width: 49%;
}

.b-work__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 70px;
  margin-bottom: 100px;
}

.b-inside {
  position: relative;
  margin-bottom: 100px;
}

.b-title--inside {
  margin: 80px auto 25px 200px;
}

.b-paragraph--inside {
  margin: auto auto 90px 200px;
}

.b-inside__image {
  margin-left: 200px;
}

.b-slider {
  position: absolute;
  top: 445px;
  background-color: var(--light);
  padding: 40px 40px 55px 0;
  overflow: hidden;
  margin-right: 780px;
}

.b-subtitle--inside {
  margin-bottom: 30px;
}

.b-paragraph--slider {
  margin: auto 60px 45px 0;
}

.b-slider__icon {
  width: 50px;
  height: 26px;
}

.b-navigation {
  display: flex;
  flex-direction: column;
}

.b-navigation__switch {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.b-navigation__arrow {
  width: 30px;
  height: 30px;
  padding: 5px;
}

.b-navigation__arrow:hover {
  opacity: 0.5;
}

.b-navigation__arrow--left {
  transform: rotate(180deg);
}

.b-navigation__line {
  display: flex;
  padding-top: 8px;
}

.b-slider__item {
  width: 65px;
  height: 1px;
  background-color: var(--grey);
  margin-right: 7px;
  cursor: pointer;
  padding: 1px;
}

.b-slider__item:hover,
.b-slider__item--active {
  background-color: var(--dark);
}

.b-news__list {
  column-gap: 50px;
  row-gap: 50px;
  margin-right: 170px;
  display: grid;
  grid-template-columns: repeat(3, 280px);
  column-gap: 120px;
}

.b-news {
  margin-top: 80px;
}

.b-subtitle--news {
  margin-bottom: 50px;
}

.b-news__text {
  font-size: 20px;
  line-height: 150%;
  color: inherit;
  text-decoration: none;
}

.b-news__text:hover {
  opacity: 0.7;
}

.b-news__date {
  font-size: 15px;
  line-height: 125%;
  color: #93a4a9;
  padding-top: 20px;
}

.b-contact {
  background-color: #000;
  background-blend-mode: screen;
  color: var(--light);
  padding-top: 100px;
  padding-bottom: 70px;
  padding-left: 200px;
  position: relative;
}

.b-contact__row {
  display: flex;
  margin: auto auto 75px auto;
  column-gap: 260px;
  align-items: center;
}

.b-social {
  display: flex;
  column-gap: 25px;
  position: relative;
  list-style: none;
}

.b-social__icon {
  width: 30px;
  height: 30px;
}

.b-social__item:hover {
  cursor: pointer;
}

.b-paragraph--contact {
  margin: auto 595px auto auto;
  position: relative;
  z-index: 2;
}

.b-contact__office {
  display: flex;
  margin: 95px auto auto auto;
  column-gap: 190px;
  position: relative;
  z-index: 2;
}

.b-contact__title {
  margin-bottom: 20px;
}

.b-contact__adress,
.b-contact__email,
.b-contact__phone {
  font-size: 15px;
  line-height: 167%;
}

.b-contact__email:hover,
.b-contact__phone:hover {
  opacity: 0.7;
}

.b-contact__email {
  display: block;
  color: var(--blue);
  cursor: pointer;
}

.b-contact__phone {
  color: inherit;
  text-decoration: none;
}

.b-contact__background {
  position: absolute;
  width: 902px;
  height: 440px;
  top: 185px;
  left: 250px;
  z-index: 1;
}

.b-footer {
  font-size: 20px;
  line-height: 150%;
  display: flex;
  align-items: center;
  column-gap: 110px;
  background-color: #000;
  color: var(--light);
}

.b-button--blue {
  background-color: var(--blue);
}
