* {
  margin: 0;
  padding: 0;
}

:root {
  --dark: #2d2d42;
  --light: #f4f4f7;
  --blue: #64cae1;
  --grey: #c0c6c8;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: var(--dark);
  background-color: var(--light);
  overflow-x: hidden;
}

.b-container {
  max-width: 1180px;
  margin: 0 auto;
}

.b-background {
    padding: 40px 60px -10px 40px;
    background: url('./images/header/header-background.jpg'), rgba(0,0,0,0.4);
    background-blend-mode: color;
}

.b-header {
  display: grid;
  padding: 40px 60px 40px 40px;
  grid-template-columns: 160px 1fr 120px;
  align-items: center;
  padding-right: 60px;
  font-size: 0.9375rem;
  line-height: 125%;
  color: var(--light);
}

.b-menu__list {
  list-style: none;
  display: inline-flex;
}

.b-menu__item:not(:last-of-type) {
  margin-right: 50px;
}

.b-menu__link {
  text-decoration: none;
}

.b-menu__link:link,
.b-menu__link:visited,
.b-menu__link:hover,
.b-menu__link:active {
  color: inherit;
}

.b-language {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.b-language__input {
  display: none;
}

.b-language__label {
  cursor: pointer;
}

.b-language__input:checked + .b-language__label {
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 50%;
}

.b-description {
  text-align: left;
  color: var(--light);
  margin-bottom: 100px;
}

.b-title {
    font-size: 3.75rem;
    line-height: 108%;
    font-weight: 900;
    letter-spacing: -0.75px;
    max-width: 780px;
}

.b-title_description {
  margin: 52px auto 30px 200px;
}

.b-paragraph_small {
  font-size: 1.25rem;
  line-height: 150%;
}

.b-paragraph_big {
  font-size: 1.875rem;
  line-height: 150%;
}

.b-paragraph_description {
  max-width: 670px;
  margin: auto auto 78px 200px;
}

.b-button {
  display: inline-block;
  font-size: 1.25rem;
  line-height: 150%;
  max-width: 580px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-left: none;
  border-bottom: none;
  padding: 25px 260px 25px 200px;
  color:var(--light);
  text-decoration: none;
  background: url(./images/button/arrow.svg) no-repeat 510px 50%;
}

.b-advantage {
    background-color: #fff;
    padding: 90px 0 137px 0;

}

.b-expertise {
    margin: 0 0 0 200px;
}

.b-title_expertise {
    margin: 90px 0 30px;
}

.b-paragraph_expertise {
    margin-bottom: 85px;
}

.b-flex {
    display: flex;
    justify-content: flex-start;
    column-gap: 60px;
    align-items: flex-start;
}

.b-flex_service {
    justify-content: flex-start;
    column-gap: 60px;
    align-items: flex-start;
}

.b-expertise__item {
    max-width: 240px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.b-icon {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    line-height: 130px;
    align-self: left;
}

.b-icon_blue {
    background-color: #63c9e0;
}

.b-icon_orange {
    background-color: #f47e3d;
}

.b-icon_purple {
    background-color: #d04b9b;
}

.b-expertise__text {
    font-size: 1.25rem;
    line-height: 150%;
    font-weight: 700;
}

.b-title_service {
    color: var(--grey);
    margin: 70px auto 75px 200px;
}

.b-flex {
    display: flex;
}

.b-flex_service {
    flex-direction: column;
    margin: 0 auto 0 200px;
    flex-wrap: wrap;
    max-height: 250px;
    row-gap: 20px;
}

.b-service__item {
    font-size: 1.25rem;
    line-height: 150%;
    position: relative;
    width: 50%;
    max-width: 380px;
    padding: 0 60px 0 0;
}

.b-service__item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -60px;
    width: 30px;
    height: 1px;
    background-color: var(--blue);
}

.b-title_work {
  margin: 100px auto 25px 330px;
}

.b-paragraph_work {
  margin: auto auto 90px 330px;
}

.b-box {
margin-top: 40px;
}

.b-box_blue {
  background-color: var(--blue);
  color: var(--light);
  padding: 40px;
  max-width: 380px;
  box-sizing: border-box;
  position: relative;
  top: -440px;
  left: 200px;
}

.b-box_white {
  background-color: var(--light);
  padding: 40px;
  padding-bottom:110px;
  max-width: 380px;
  height: 380px;
  box-sizing: border-box;
  position: relative;
  top: -440px;
  left: 600px;
}


.b-subtitle {
  font-size: 0.8125rem;
  line-height: 154%;
  letter-spacing: 1.73px;
  font-weight: 900;
  text-transform: uppercase;
}

.b-subtitle_gallery {
  margin-bottom: 39px;
}

.b-gallery__text {
  font-size: 1.875rem;
  line-height: 133%;
  max-width: 430px;
}

.b-card_big {
  max-height: 620px;
}

.b-card_small {
  max-width: 580px;
}

.b-flex_work {
  flex-wrap: wrap;
  max-width: 1180px;
  column-gap: 20px;
  row-gap: 70px;
  margin-bottom: 100px;
}

.b-inside {
  position: relative;
  margin-bottom: 80px;
}

.b-title_inside {
  margin: 100px auto 25px 330px;
}

.b-paragraph_inside {
  margin: auto auto 90px 330px;
}

.b-inside__image {
  margin-left: 200px;
}
/*------------------СЛАЙДЕР----------------------*/
.b-slide__title {
  font-size: 0.8125;
  line-height: 154%;
  letter-spacing: 1.73px;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 30px;
}

.b-slide__text {
  font-size: 1.875rem;
  line-height: 133%;
  max-width: 340px;
  margin-bottom: 55px;
}


.b-slider {
  width: 400px;
  height: 380px;
  position: absolute;
  top: 390px;
  background-color: var(--light);
  padding-top: 40px;
  padding-right: 40px;
  overflow: hidden;
}

.b-navigation {
  position: absolute;
  display: flex;
}

.b-slider__label {
  width: 65px;
  height: 1px;
  background-color: var(--grey);
  cursor: pointer;
  margin-right: 9px;
}



.b-slider__input {
  position: absolute;
  visibility: hidden;
}

.b-slides {
  width: 500%;
  height: 100%;
  display: flex;
  
}

.b-slide {
  width: 400px;
  height: 380px;
}

.b-slider__input_1:checked + .b-slide_1 {
  margin-left: 0;
}

.b-slider__input_2:checked + .b-slide_2 {
  margin-left: 0;
}
/*----------------------------------------------*/


.b-news {
  margin-top: 80px;
}


.b-subtitle_news {
  margin-bottom: 50px;
}

.b-item_news {
  max-width: 280px;
}

.b-news__text {
  font-size: 1.25rem;
  line-height: 150%;
  margin-bottom: 20px;
}

.b-news__date {
  font-size: 0.9375rem;
  line-height: 125%;
  color: #93a4a9;
}

.b-contact {
  background: url('./images/contacts/map.svg') no-repeat 90% 70% ;
  background-color: #000;
  background-blend-mode: screen;
  color: var(--light);
  padding-top: 100px;
  padding-bottom: 70px;
}

.b-flex_contact {
  margin: auto auto 75px 200px;
  column-gap: 250px;
  align-items: center;
}

.b-social {
  column-gap: 25px;
}

.b-paragraph_contact {
  margin-left: 200px;
  max-width: 380px;
}

.b-flex_adress {
  margin: 90px auto auto 200px;
}

.b-contact__title {
  font-size: 1.25rem;
  line-height: 150%;
  margin-bottom:20px ;
}

.b-contact__adress,
.b-contact__email,
.b-contact__phone {
  font-size: 0.9375rem;
  line-height: 167%;
}

.b-contact__email {
  display: block;
  color: var(--blue);
}

.b-contact__phone {
color: inherit;
text-decoration: none;
}

.b-flex_adress {
  column-gap: 180px;
}

.b-footer {
  display: flex;
  align-items: center;
  column-gap: 118px;
  background-color: #000;
}

.b-button_blue {
  background-color: var(--blue);
}